body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 1em;
	padding: 0;
}

p {
	color : blue;
}

label {
	width: 10em;
	padding-right: 1em;
	float: left;
}

br {
	clear: left;
}